
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


/*estilos generales*/

body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resaltado-azul {
  color: #007bff;
}

/*header*/
header {
  margin: 0 auto;
  display: flex;
  width: 90%;
  align-items: center;
  box-shadow: 0 2px 0px  rgba(1, 39, 70, 0.162);
}

/* header, div, nav, h4, ul, li {
  border: 2px solid;
} */

.header-logo {
  width: 60%;
}

.header-nav {
  width: 40%;
}

.header-nav li {
  font-size: 12px;
}

header ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

header li {
  list-style-type: none;
}

/*Secciones*/
/*  */
/*.portada, .portada-aviso, .portada-titulo, .portada-botones, .portada-redes {

    border: 2px solid;
}*/

.portada{
    width: 50%;
    text-align: center;
    font-family: "Space Grotesk";
}

.portada-aviso h6{
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    background-color: #e2e8f0;
    border-radius: 50px;
    box-shadow: 0px 1px 4px rgba(1, 39, 70, 0.162);
}

.portada-titulo h1{
    font-weight: 900;
    font-size: 50px;
}

.portada-titulo p{
   font-size: 15px;
   text-wrap: balance;
   line-height: 25px;
}

.portada-titulo .resaltado-azul{
    display: block;
    margin-top: 5px;
}

.portada-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0px 30px;
    border-radius: 6px;
    cursor: pointer;
    min-width: 100px;
    height: 50px;
    background-color: #007bff;
}

.boton-borde{
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
}

.portada-redes{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
}

.boton-redes{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 1px 4px rgba(1, 39, 70, 0.162);
    color: black;
    font-size: 1.6rem;
}

.habilidades > *{
    border: 1px solid;
}