
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


/*estilos generales*/

body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resaltado-azul {
  color: #007bff;
}

/*header*/
header {
  margin: 0 auto;
  display: flex;
  width: 90%;
  align-items: center;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 0px  rgba(1, 39, 70, 0.162);
  padding: 0px 16px;
}

/* header, div, nav, h4, ul, li {
  border: 2px solid;
} */

.header-logo {
  width: 60%;
}

.header-nav {
  width: 40%;
}

.header-nav li {
  font-size: 12px;
}

header ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

header li {
  list-style-type: none;
}

/*Secciones*/

.portada{
    width: 50%;
    text-align: center;
    font-family: "Space Grotesk";
}

.portada-aviso h6{
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    background-color: #e2e8f0;
    border-radius: 50px;
    box-shadow: 0px 1px 4px rgba(1, 39, 70, 0.162);
}

.portada-titulo h1{
    font-weight: 900;
    font-size: 50px;
}

.portada-titulo p{
   font-size: 15px;
   text-wrap: balance;
   line-height: 25px;
}

.portada-titulo .resaltado-azul{
    display: block;
    margin-top: 5px;
}

.portada-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 0px 30px;
    border-radius: 6px;
    cursor: pointer;
    min-width: 100px;
    height: 50px;
    background-color: #007bff;
}

.boton-borde{
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
}

.portada-redes{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
}

.boton-redes{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 1px 4px rgba(1, 39, 70, 0.162);
    color: black;
    font-size: 1.6rem;
}

/*------------
Habilidades
------------*/

.habilidades{
    margin-top: 100px;
}

.habilidades > *{
    border: 1px solid;
}


/*------------
Tarjetas
------------*/

/* .tarjeta{
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 1px;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  margin: 10;
  font-family: "Space Grotesk";

}

.tarjeta .tarjeta-titulo{
  border: 2px solid red;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.tarjeta-lista{
  display: inline-flex;
  justify-content: space-between;
  border: 4px solid blue;
  list-style: none;
  gap: 50px;
}

.tarjeta-lista ul{
  display: inline-flex;
  justify-content: space-between;
  border: 5px solid green;
  padding-left: 0px;
}

.tarjeta-lista ul li{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid rgb(85, 14, 172);
} */

/* este es el padding del Frontend Backend */

.tarjeta {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 100px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 150px; 
  margin: 10px;
  font-family: "Space Grotesk";
}

.tarjeta-titulo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tarjeta-lista ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tarjeta-lista ul li {
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 5px;
}

.habilidades-tarjetas{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;  
  max-width: 1000px;
} 