
@media (max-width: 768px){
    .autor{
        font-size: large;
    }

    .imgLibro{
    height: 2000px;
    width: 107px;
    }
}

main{
    border: 2px solid black;
    background-color: rgb(251, 221, 177);
} 

#seccionlibros ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
}  

#listaLibros{
    width: 200px;
    height: 300px;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.imgLibro{
    height: 104px;
    width: 64px;
}

.navegador{
    border: 2px solid;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: center; */
    border: 4px solid;
    gap: 10px
    
}

.carrito{
    display: flex;
    align-self: flex-end;
    margin-left: 400px;
    border: 4px solid;
}

.carritoimg{
    height: 49px;
    width: 62px;
}

.carritoimg:hover{
    background-color: rgb(89, 155, 226);
}

.autor{
    margin-bottom: 6px;
    margin-top: 13px;
}

.botonAgregar:hover{
    border: 3px solid;
    /* margin-bottom: 20px; */
    cursor: pointer;
    color: red;
    border-radius: 5px;
}

/* .boton:hover{
    cursor: pointer;
    color: red;
} */

.principal {
    display: flex;
    justify-content: space-between;
    border: 3px solid;
}

.principal li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 300px;
}

.principal h3 {
    border: 2px solid;
    margin-top: 0px;
    text-align: center;
}

/**
.separador {
    border: 20px solid rgb(10, 61, 3);
    height: 100vh;
    overflow: auto;
    }
*/