/* .pepe{
    border: 14px solid;
    border-left-color: red;
    border-right-color: rgb(20, 58, 141);
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    border-radius: 87px;
    font-size: 16px;
}

.sos{
    color: rgb(16, 77, 175);
    font-size: 4rem;
} */

main {
    margin: 0 auto;
    border: 2px solid;
    width: 800px;
    height: 800px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column
}


.primer_contenedor {
    width: 200px;
    height: 200px;
    border: 2px solid;
}

#contenedor1 {
    border: 2px solid red;
}

#contenedor2{
    border: 2px solid green;
} 

#contenedor3 { 
    border: 2px solid blue; 
}
